git rm build-FSIPLeiria-Desktop_Qt_6_5_0_MinGW_64_bit-Debug
git rm QXlsx

QXlsx
build-FSIPLeiria-Desktop_Qt_6_5_0_MinGW_64_bit-Debug


build-FSIPLeiria-Desktop_Qt_6_5_0_MinGW_64_bit-Debug/debug/FSIPLeiria.exe
*.o
*.exe
